
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mt-3">User info</h2>

      <% if @user.errors.any? %>
  <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch do|f| %>

        <div class="form-group">
          <label for="book_title">Name</label>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form_group">
          <label for="image">image</label>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group">
           <label for="book_opinion">introduction</label>
           <%= f.text_area :introduction, class:"form-control", rows:"3" %>
        </div>
        <div class="form-group">
           <%= f.submit 'Update User', class:"btn-success btn-info mt-4" %>
        </div>
      <% end%>
    </div>
</div>