
<main>
  <%= render 'books', books: [@book,@user] %>
  <div class="col-md-8 offset-md-1">

  <h2>Book detail</h2>

  <table class="table">
    <tbody>
  <tr>
  <td><%= @book_show.title %></td>
  <td><%= @book_show.body %></td>
  <td><%= link_to 'Edit', edit_book_path(@book_show.id)%></td>
  <td><%=link_to 'Destroy',book_path(@book_show.id), method: :delete, "data-confirm"=>"Are you sure?" %></td>
  </tr>

  </table>

</tbody>
</table>
</div>
</main>



