<%= flash[:hoge] %>
<%= flash[:success] %>
<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'books', {book: Book.new ,user: @user} %>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
           <% if @book_comment.errors.any? %>
      <h3><%= @book_comment.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
      <% @book_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@book.user.id) do %>
                    <%= image_tag @book.user.get_profile_image(80,80) %>
                    <p>
                      <%= @book.user.name %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <%= link_to  book_path(@book.id) do %>
                    <%= @book.title%>
                  <% end %>
                </td>
                  <td><%= @book.body %></td>
                </td>
                <td>
                 <p>コメント件数：<%= @book.book_comments.count %></p>
                </td>
                <td class="favorite-btn">
                 <%= render 'favorites/favorite', book: @book %>
                <td>
              </tr>
            </tbody>
          </table>
          <div class="book_comment_btn">
          <%= render 'book_comments/book_comment',book: @book,book_comment: @book_comment %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>