<%= flash[:hoge] %>
<%= flash[:success] %>
<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'books', {books: @book,user: @user} %>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
           <% if @book_comment.errors.any? %>
      <h3><%= @book_comment.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
      <% @book_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@book_show.user.id) do %>
                    <%= image_tag @book_show.user.get_profile_image(80,80) %>
                    <p>
                      <%= @book_show.user.name %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <%= link_to  book_path(@book_show.id) do %>
                    <%= @book_show.title%>
                  <% end %>
                </td>
                  <td><%= @book_show.body %></td>
                </td>
                <td>
                 <p>コメント件数：<%= @book_show.book_comments.count %></p>
                </td>

                <td>
                  <%= render 'favorite', book_show: @book_show %>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <% @book_show.book_comments.each do |book_comment| %>
              <p><%= image_tag book_comment.user.get_profile_image(80,80) %>
                 <%= book_comment.comment %>
                 <% if book_comment.user == current_user %>
                   <%=link_to book_book_comment_path(book_comment.book, book_comment),class:"btn btn-sm btn-danger ", method: :delete, "data-confirm"=>"Are you sure?" do%>
                  Destroy
                  <% end %>
                 <% end %>
              </p>
              <%= book_comment.user.name %>
            <% end %>
          </div>
          <div>
            <%= form_with model: [@book_show, @book_comment] do |f| %>
              <%= f.text_area :comment,:size=>"85x5", placeholder: "コメントをここに",class:"mb-2" %>
              <p><%= f.submit "送信" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>